#mainContainer {
  position: relative;
  width: 640px;
  height: 360px;
  margin: auto;
  top: 100px;
  border: 2px solid #000;
}

#adContainer {
  position: absolute;
  width: 640px;
  height: 360px;
  z-index: 10;
  display: none;
  background-color: black;
}

#playButton {
  margin-top: 20px;
  width: 200px;
  height: 40px;
  font-size: 16px;
}
